<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration SYSTEM "config.dtd">
<configuration>
    <matching>
        <minNumLines>3</minNumLines>
        <matchAlgorithm>1</matchAlgorithm>
        <matchMode>1</matchMode>
        <gapSize>2</gapSize>
        <meshBlockSize>10000</meshBlockSize>
    </matching>
    <projects>
        <project>/home/edmund/clocom/evaluate_projects/test/</project>
        <database>/home/edmund/clocom/evaluate_projects/test/</database>
        <loadDatabaseFilePaths>false</loadDatabaseFilePaths>
        <buildDatabase>true</buildDatabase>
        <buildTFIDF>false</buildTFIDF>
        <loadTFIDF>false</loadTFIDF>
    </projects>
    <outputSettings>
        <debug>false</debug>
        <removeEmpty>false</removeEmpty>
        <exportResults>false</exportResults>
        <resultPath></resultPath>
    </outputSettings>
    <loadResults>false</loadResults>
    <heuristics>
        <similarity>
            <similarityRange>extended</similarityRange>
            <enableSimilarity>false</enableSimilarity>
        </similarity>
        <others>
            <enableRepetitive>false</enableRepetitive>
            <enableOneMethod>false</enableOneMethod>
        </others>
    </heuristics>
</configuration>
