<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration SYSTEM "config.dtd">
<configuration>
    <matching>
        <minNumLines>4</minNumLines>
        <matchAlgorithm>1</matchAlgorithm>
        <matchMode>0</matchMode>
        <gapSize>2</gapSize>
        <meshBlockSize>100000</meshBlockSize>
    </matching>
    <frequencySet>
        <aprioriMinSupport>5</aprioriMinSupport>
    </frequencySet>
    <projects>
        <project>/home/edmund/research/autocomment/posts/stage4-nlpProcessed/test2/</project>
        <database>/home/edmund/research/autocomment/posts/stage4-nlpProcessed/testDB/</database>
        <outputDir>/home/edmund/research/autocomment/posts/stage4-nlpProcessed/testDB/output/</outputDir>
        <loadDatabaseFilePaths>false</loadDatabaseFilePaths>
        <buildDatabase>true</buildDatabase>
        <buildTFIDF>false</buildTFIDF>
        <enableMapExt>true</enableMapExt>
    </projects>
    <outputSettings>
        <debug>true</debug>
        <removeEmpty>false</removeEmpty>
        <exportResults>false</exportResults>
        <resultPath></resultPath>
        <enableQuery>false</enableQuery>
    </outputSettings>
    <loadResults>false</loadResults>
    <heuristics>
        <similarity>
            <similarityRange>extended</similarityRange>
            <enableSimilarity>false</enableSimilarity>
        </similarity>
        <others>
            <enableRepetitive>false</enableRepetitive>
            <enableOneMethod>false</enableOneMethod>
        </others>
    </heuristics>
</configuration>
