<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration SYSTEM "config.dtd">
<configuration>
    <matching>
        <minNumLines>3</minNumLines>
        <matchAlgorithm>0</matchAlgorithm>
        <gapSize>2</gapSize>
    </matching>
    <projects>
        <project>/home/edmund/clocom/evaluate_projects/freemind/</project>
        <database>/home/edmund/clocom/evaluate_projects/jajuk-src-1.10.6/</database>
        <loadDatabaseFilePaths>true</loadDatabaseFilePaths>
        <buildDatabase>false</buildDatabase>
        <buildTFIDF>false</buildTFIDF>
        <loadTFIDF>false</loadTFIDF>
    </projects>
    <outputSettings>
        <debug>false</debug>
        <removeEmpty>true</removeEmpty>
        <exportResults>false</exportResults>
        <resultPath></resultPath>
    </outputSettings>
    <loadResults>false</loadResults>
    <heuristics>
        <similarity>
            <similarityRange>extended</similarityRange>
            <enableSimilarity>false</enableSimilarity>
        </similarity>
    </heuristics>
</configuration>
