<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration SYSTEM "config.dtd">
<configuration>
    <matching>
        <minNumLines>5</minNumLines>
        <matchAlgorithm>0</matchAlgorithm>
        <matchMode>0</matchMode>
        <gapSize>2</gapSize>
        <meshBlockSize>100000</meshBlockSize>
        <numberThreads>4</numberThreads>
    </matching>
    <frequencySet>
        <aprioriMinSupport>5</aprioriMinSupport>
    </frequencySet>
    <projects>
        <project>/home/edmund/research/clocom/cloneCode/test1/</project>
        <database>/home/edmund/research/clocom/cloneCode/test2/</database>
        <databaseFormat>0</databaseFormat>
        <outputDir>/home/edmund/research/clocom/output/</outputDir>
        <loadDatabaseFilePaths>false</loadDatabaseFilePaths>
        <forceRetokenization>true</forceRetokenization>
        <buildTFIDF>false</buildTFIDF>
    </projects>
    <outputSettings>
        <debug>true</debug>
        <removeEmpty>false</removeEmpty>
        <exportResults>false</exportResults>
        <resultPath></resultPath>
        <enableQuery>false</enableQuery>
    </outputSettings>
    <loadResults>false</loadResults>
    <heuristics>
        <similarity>
            <similarityRange>extended</similarityRange>
            <enableSimilarity>true</enableSimilarity>
        </similarity>
        <others>
            <enableRepetitive>false</enableRepetitive>
            <enableOneMethod>true</enableOneMethod>
        </others>
    </heuristics>
</configuration>
